# /etc/systemd/system/flaskapp.service
[Unit]
Description=Flask Web Application
After=network.target

[Service]
User=sergio
WorkingDirectory=/home/sergio/web_fakehate
Environment="PATH=/home/sergio/miniconda3/envs/web/bin"
ExecStart=/home/sergio/miniconda3/envs/web/bin/gunicorn --workers 3 --bind unix:/home/sergio/web_fakehate/flaskapp.sock -m 0077 wsgi:app


[Install]
WantedBy=multi-user.target